/* Móviles en horizontal y tablest en vertical */
@media (min-witdh: 768px){
    .openbtn {
        width: 30vw;
        font-size: 40px;
        cursor: pointer;
        background-color: #ED37BF;
        color: white;
        padding: 10px 15px;
        border: none;
      }
}

/* Tabltes en horizontal y escritorios normales */
@media (min-witdh: 1024px){
 #movil {
     display: none;
    }

 
}