/* Móviles en horizontal de 480px */
@media(min-witdh: 480px){
    #desktop{
        visibility: collapse;
    }
   
}

/* Móviles en horizontal y tablest en vertical */
@media (min-witdh: 768px){
    #desktop{
        visibility: collapse;
    }
}

/* Tabltes en horizontal y escritorios normales */
@media (min-witdh: 1024px){
 #movil {visibility: collapse;}
}