<div class="main">
    <header class="header margen-interno">
        <div class="menu">
            <!--<nav class="navTop">
                <input id="menuHamburguesa" type="checkbox">
                <label for="menuHamburguesa"></label>
                    <ul>
                        <li class="menuItem"><a href="#">Tienda</a></li>
                        <li class="menuItem"><a href="#">Noticias</a></li>
                        <li class="menuItem"><a href="#">Somos</a></li>
                        <li class="menuItem"><a href="#">Contacto</a></li>
                    </ul>
            </nav>-->

            <div class="logo">
                <a href="Inicio.html"> <img src="assets/img/team3_logo.png" alt=""></a>
            </div>
            <div class="social">
                <div><a href="#"><img src="assets/img/Icono_instagram_blanco.png" alt="icono de instagram"></a></div>
                <div><a href="#"><img src="assets/img/Icono_linked_blanco.png" alt="icono linked"></a></div>
                <div><a href="#"><img src="assets/img/Icono_twitter_blanco.png" alt="icono de twitter"></a></div>
            </div>
        </div>
    </header>

    </section>
    <footer class="footer margen-interno">
        <nav class="pie"></nav>
    </footer>
</div>