<link rel="stylesheet" type="text/css" href="../assets/css/inicio_gonzalo.css">
<div id="movil" class="header">
    <button id="openbtn" class="openbtn">☰</button>
    <div id="menu"class="menu">
        <a href="javascript:void(0)" id="closebtn" class="closebtn">TEAM3 ×</a>
        <a href="#">Iniciar Sessión</a>
        <a href="#">Tienda</a>
        <a href="#">Noticias</a>
        <a href="#">Somos</a>
        <a href="#">Contacto</a>
        <a href="#"></a>
        <a href="#"></a>
        <div class="social">
            <a href="#"><img src="assets/img/Icono_instagram_blanco.png" alt="icono de instagram"></a>
            <a href="#"><img src="assets/img/Icono_linked_blanco.png" alt="icono de linked"></a>
            <a href="#"><img src="assets/img/Icono_twitter_blanco.png" alt="icono de twitter"></a>
        </div>
    </div>
    <div class="logo">
        <a href="inicio_gonzalo.html"> <img src="assets/img/team3_logo.png" alt=""></a>
    </div>
</div>
<!--
<nav id="desktop">
    <div id="logo"class="logo">
        <a href="inicio_gonzalo.html"> <img src="assets/img/team3_logo.png" alt=""></a>
    </div>
    <ul>
        <li> <a href="#">Tienda</a></li>
        <li> <a href="#">Noticias</a></li>
        <li> <a href="#">Somos</a></li>
        <li> <a href="#">Contacto</a></li>
    </ul>
    <div id="social" class="social">
        <a href="#"><img src="assets/img/Icono_instagram_blanco.png" alt="icono de instagram"></a>
        <a href="#"><img src="assets/img/Icono_linked_blanco.png" alt="icono de linked"></a>
        <a href="#"><img src="assets/img/Icono_twitter_blanco.png" alt="icono de twitter"></a>
    </div>
</nav>
-->
<script type="text/javascript" src="../assets/js/header.js"></script>