/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #divMain {

    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
    color: #2d6a2e;
    }

    .Main{
    flex-direction: column;
    }

    .somos {
    order: 1;
    }

    .equipo{
    order: 2;
    }

    .abraham{
    order: 3;
    }

    .gonzalo{
    order: 4;
    }

    .raul{
    order: 5;
    }

    #divSomos {
    width: 100%;
    display: flex;
    text-align: center;

    }

    #divEquipo{
    width: 100%;
    display: flex;
    text-align: center;
    }

    #divAbraham{
    width: 100%;
    display: flex;
    text-align: center;
    background-color: #ecf0f1;
    margin-bottom: 2%;
    }

    #avatarAbraham{
    width: 50%;
    height: 50%;
    }

    #divGonzalo{
    width: 100%;
    display: flex;
    text-align: center;
    background-color: #ecf0f1;
    margin-bottom: 2%;
    }

    #avatarGonzalo{
    width: 50%;
    height: 50%;
    }

    #divRaul{
    width: 100%;
    display: flex;
    text-align: center;
    background-color: #ecf0f1;
    margin-bottom: 2%;
    }      

    #avatarRaul{
    width: 50%;
    height: 50%;
    }
}

/* Portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {

    #divMain {

        width: 100%;
        height: 100%;
        display: flex;
        background-color: white;
        color: #2d6a2e;
        }
    
        .Main{
        flex-direction: column;
        }
    
        .somos {
        order: 1;
        }
    
        .equipo{
        order: 2;
        }
    
        .abraham{
        order: 3;
        }
    
        .gonzalo{
        order: 4;
        }
    
        .raul{
        order: 5;
        }
    
        #divSomos {
        width: 100%;
        display: flex;
        text-align: center;
    
        }
    
        #divEquipo{
        width: 100%;
        display: flex;
        text-align: center;
        }
    
        #divAbraham{
        width: 100%;
        display: flex;
        text-align: center;
        background-color: #ecf0f1;
        margin-bottom: 2%;
        }
    
        #avatarAbraham{
        width: 25%;
        height: 25%;
        }
    
        #divGonzalo{
        width: 100%;
        display: flex;
        text-align: center;
        background-color: #ecf0f1;
        margin-bottom: 2%;
        }
    
        #avatarGonzalo{
        width: 25%;
        height: 25%;
        }
    
        #divRaul{
        width: 100%;
        display: flex;
        text-align: center;
        background-color: #ecf0f1;
        margin-bottom: 2%;
        }      
    
        #avatarRaul{
        width: 25%;
        height: 25%;
        }

}

/* Big devices (desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    #divMain {

        width: 100%;
        height: 100%;
        display: flex;
        background-color: white;
        color: #2d6a2e;
        }
    
        .Main{
        flex-direction: column;
        }
    
        .somos {
        order: 1;
        }
    
        .equipo{
        order: 2;
        }
    
        .abraham{
        order: 3;
        }
    
        .gonzalo{
        order: 4;
        }
    
        .raul{
        order: 5;
        }
    
        #divSomos {
        width: 100%;
        display: flex;
        text-align: center;
    
        }
    
        #divEquipo{
        width: 100%;
        display: flex;
        text-align: center;
        }
    
        #divAbraham{
        width: 100%;
        display: flex;
        text-align: center;
        margin-left: 20%;
        background-color: #ecf0f1;
        margin-bottom: 2%;
        }
    
        #avatarAbraham{
        width: 15%;
        height: 15%;
        }
    
        #divGonzalo{
        width: 100%;
        display: flex;
        text-align: center;
        margin-left: 20%;
        background-color: #ecf0f1;
        margin-bottom: 2%;
        }
    
        #avatarGonzalo{
        width: 15%;
        height: 15%;
        }
    
        #divRaul{
        width: 100%;
        display: flex;
        margin-left: 20%;
        text-align: center;
        background-color: #ecf0f1;
        margin-bottom: 2%;
        }      
    
        #avatarRaul{
        width: 15%;
        height: 15%;
        }
}