<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../assets/css/gonzalo/indexStyle.css" rel="stylesheet">
    <link href="../assets/css/raul/footer.css" rel="stylesheet">
    <link href="../assets/css/abraham/contacto.css" rel="stylesheet">
    <link href="../assets/css/abraham/somos.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>

<body>

    <div class="divContainer">

        <header>
            {% include header.html %}

        </header>

        <div class="divMain">
            {{content}}
        </div>

        <footer>
            {% include footer.html %}
        </footer>

    </div>

</body>

</html>