<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Usar la api de fonts de google para elegir una fuente en concreto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    <link href="assets/css/gonzalo/inicio_gonzalo.css" rel="stylesheet">
    <link href="assets/css/gonzalo/header.css" rel="stylesheet">
    <link href="assets/css/raul/footer.css" rel="stylesheet">
    <link href="assets/css/divMain.css" rel="stylesheet">
    <link href="assets/css/abraham/contacto.css" rel="stylesheet">
    <link href="assets/css/abraham/somos.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team 3</title>
</head>

<body>

    <div class="divContainer">

        <header>
            {% include header.html %}

        </header>

        <div class="divMain">
            {{content}}
        </div>

        <footer>
            {% include footer.html %}
        </footer>

    </div>

</body>

</html>